
.card{
    margin-left: 50px;
}

.bd-example {
    --bd-example-padding: 1rem;
    position: relative;
    padding: var(--bd-example-padding);
    margin: 0 -0.3125rem;
    border: solid #ddd;
    border-width: 0.0625rem;
}

.gap-2{
    margin-top: 10px;
}
.fm{
    margin-bottom: 10px;
}