<main class="content">
    <div class="container-fluid p-0">

        <div class="row mb-2 mb-xl-3 pt-3 pb-2 mb-3">
            <div class="col-auto d-none d-sm-block">
                <h3>Liste des marchands</h3>
            </div>
        </div>

        <div class="row col_12 p-2 m-2">
            <div class="col-8">
                    <div class="input-group">
                        <label class="input-group-text">Recherche</label>
                        <input type="text" class="form-control" matInput [(ngModel)]="marchantFilter.code" #input>
                        <button class="btn btn-info">
                            <svg width="20" height="20" class="DocSearch-Search-Icon" viewBox="0 0 20 20">
                                <path d="M14.386 14.386l4.0877 4.0877-4.0877-4.0877c-2.9418 2.9419-7.7115 2.9419-10.6533 0-2.9419-2.9418-2.9419-7.7115 0-10.6533 
                                2.9418-2.9419 7.7115-2.9419 10.6533 0 2.9419 2.9418 2.9419 7.7115 0 10.6533z" stroke="currentColor" fill="none" fill-rule="evenodd" 
                                stroke-linecap="round" stroke-linejoin="round"></path></svg>
                        </button>
                    </div>
            </div>
            <div class="col-2">
                <div class="col-auto ms-auto text-end mt-n1">
                    <div class="dropdown me-2 d-inline-block position-relative">
                        <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModalSearch" data-bs-whatever="@mdo"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-filter align-middle"><polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon></svg>
                            Plus de critères</button>
                    </div>
                    <button class="btn btn-primary shadow-sm" (click)="resetData()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-refresh-cw align-middle"><polyline points="23 4 23 10 17 10"></polyline><polyline points="1 20 1 14 7 14"></polyline><path d="M3.51 9a9 9 0 0 1 14.85-3.36L23 10M1 14l4.64 4.36A9 9 0 0 0 20.49 15"></path></svg>
                    </button>
                </div>
            </div>

            <div class="col-2">
                <button class="btn btn-secondary" (click)="add()"data-bs-toggle="modal" data-bs-target="#exampleModal">Créer un marchand</button>
            </div>
            
        </div>

        <ng-template #errors>
            <div class="text-danger">{{errorMessage}}</div>
        </ng-template>

        <div class="row">

            <div class="col-12 col-lg-12 d-flex mt-3">
                <div class="card flex-fill">
                    <div id="datatables-dashboard-projects_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                        <div class="row dt-row">
                            <div class="col-sm-12">
                                <table id="datatables-dashboard-projects" class="table table-striped my-0 dataTable no-footer" aria-describedby="datatables-dashboard-projects_info">
                        <thead>
                            <tr>
                                <th class="sorting sorting_asc" tabindex="0" aria-controls="datatables-dashboard-projects" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending">N°</th>
                                <th class="d-none d-xl-table-cell sorting" tabindex="0" aria-controls="datatables-dashboard-projects" rowspan="1" colspan="1" aria-label="Start Date: activate to sort column ascending">Code</th>
                                <th class="d-none d-md-table-cell sorting" tabindex="0" aria-controls="datatables-dashboard-projects" rowspan="1" colspan="1" aria-label="Assignee: activate to sort column ascending">Libellé</th>
                                <th class="d-none d-xl-table-cell sorting" tabindex="0" aria-controls="datatables-dashboard-projects" rowspan="1" colspan="1" aria-label="End Date: activate to sort column ascending">Créateur</th>
                                <th class="sorting" tabindex="0" aria-controls="datatables-dashboard-projects" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">Date création</th>
                                <th class="d-none d-xl-table-cell sorting" tabindex="0" aria-controls="datatables-dashboard-projects" rowspan="1" colspan="1" aria-label="Start Date: activate to sort column ascending">Statut</th>
                                <th class="d-none d-md-table-cell sorting text-center" tabindex="0" aria-controls="datatables-dashboard-projects" rowspan="1" colspan="1" aria-label="Assignee: activate to sort column ascending">Action</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                        <tr class="odd" *ngFor="let p of itemsToDisplay1 | filterBy:marchantFilter;let i = index">
                            <td class="sorting_1">{{ (currentPage1 - 1) * itemsPerPage1 + i + 1 }}</td>
                            <td class="d-none d-xl-table-cell">{{p?.code}}</td>
                            <td class="d-none d-xl-table-cell">{{p?.libelle}}</td>
                            <td class="d-none d-xl-table-cell">{{p?.createdBy}}</td>
                            <td class="d-none d-xl-table-cell">{{p?.createdDate}}</td>
                            <td class="d-none d-xl-table-cell">

                                  <div class="justify-c">
                                    <div class="form-check form-switch" *ngIf="p?.state === false">
                                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" [value]="p.state" (change)="handleChangeAction($event,p?.id)">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Inactif</label>
                                    </div>

                                    <div class="form-check form-switch" *ngIf="p?.state === true">
                                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" checked [value]="p.state" (change)="handleChangeAction($event,p?.id)">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Actif</label>
                                    </div>
                                </div>

                            </td>
                            <td>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalToggle" (click)="openPopup(p)" data-bs-whatever="@fat" *ngIf="p">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 align-middle">
                                        <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
                                    </svg> Détail
                                </button>

                                <button class="btn btn-info"(click)="editAccount(p)"data-bs-toggle="modal" data-bs-target="#exampleModal" *ngIf="p">Modifier</button>&nbsp;
                            </td>
                        </tr>
                    </tbody>
                    </table>
                        <div class="mt-8 py-2 pagination justify-content-center">
                            <nav aria-label="...">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" (click)="previousPage()" [ngClass]="[currentPage1 === 1 ? 'disabled' : '']">Previous</a>
                                    </li>
                                    <li class="page-item" *ngFor="let pageNumber1 of getPaginationNumbers(); let last = last">
                                        <a class="page-link" *ngIf="pageNumber1 !== 'ellipsis'" [ngClass]="{ 'active': pageNumber1 === currentPageNumber1 }" (click)="goToPage(pageNumber1)"> 
                                            {{ pageNumber1 }} 
                                        </a> 
                                        <span *ngIf="pageNumber1 === 'ellipsis' && !last">...</span>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" (click)="nextPage()" [ngClass]="[currentPage1 === totalPages1 ? 'disabled' : '']">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1" *ngIf="itemsToDisplay1">
                        <div class="modal-dialog modal-xl modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title h5" id="exampleModalToggleLabel">Détail marchand</h1>
                              
                              <button type="button" class="btn-close" data-bs-dismiss="modal"><span class="visually-hidden">Close</span></button>
                            </div>
                            <hr>
                            <div class="modal-body">
                                <h4>Détail du marchand:</h4>
                                <p><b>Libellé:</b> {{ selectedRow?.libelle}}</p>

                                <div class="table-responsive" *ngIf="selectedRow">
                                    <table class="table accordion">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">code</th>
                                                <th scope="col">Service</th>
                                                <th scope="col">Type Client</th>
                                                <th scope="col">Crée par</th>
                                                <th scope="col">Date création </th>
                                                <th scope="col">Etat</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <ng-container *ngFor="let acc of selectedRow.account; let i = index">
                                                <tr data-bs-toggle="collapse"  [attr.data-bs-target]="'#r' + (i + 1)">
                                                  <th class="dropdown1-toggle" scope="row">{{ i + 1 }} </th>
                                                  <td>{{ acc.code }}</td>
                                                  <td>{{ acc.type }}</td>
                                                  <td>{{ acc.subsType }}</td>
                                                  <td>{{ acc.createdBy }}</td>
                                                  <td>{{ acc.createdDate }}</td>
                                                  <td>{{ acc.state }}</td>
                                                  <td>
                                                    <button type="button" class="btn btn-primary btn-sm" *ngIf="acc.technicalAccount">
                                                         Détail
                                                    </button>
                                                </td>
                                                </tr>
                                                <tr class="collapse accordion-collapse" [attr.id]="'r' + (i + 1)" data-bs-parent=".table" *ngIf="acc.technicalAccount">
                                                  <td colspan="6"> 
                                                    <!--<h4>Détail des comptes techniques:</h4>
                                                    <div *ngFor="let techAcc of acc.technicalAccount">
                                                      <p><b>Code:</b> {{ techAcc.code }}</p>
                                                      <p>Created By: {{ techAcc.createdBy }}</p>
                                                      <p>Created Date: {{ techAcc.createdDate }}</p>
                                                      <p>msisdn: {{ techAcc.msisdn }}</p>
                                                      Afficher les autres informations spécifiques au compte technique ici
                                                    </div>-->
                                                    <div class="card text-center" style="width: 100%;">
                                                        <div class="card-header">
                                                            Détail des comptes techniques
                                                        </div>
                                                        <div class="card-body">
                                                          
                                                          <table class="table">
                                                            <caption class="visually-hidden">Boosted tables basic look</caption>
                                                            <thead>
                                                                <tr>
                                                                <th scope="col">#</th>
                                                                <th scope="col">Numéro</th>
                                                                <th scope="col">Code secret</th>
                                                                <th scope="col">Créer par</th>
                                                                <th scope="col">Date création</th>
                                                                <th scope="col">Etat</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let techAcc of acc.technicalAccount; let j = index">
                                                                <th scope="row">{{ j + 1 }}</th>
                                                                <td>{{ techAcc.msisdn }}</td>
                                                                <td>{{ techAcc.pin }}</td>
                                                                <td>{{ techAcc.createdBy }}</td>
                                                                <td>{{ techAcc.createdDate }}</td>
                                                                <td>{{ techAcc.state }}</td>
                                                                </tr>
                                                            </tbody>
                                                            </table>
                                                        </div>
                                                        <div class="card-footer">
                                                          
                                                        </div>
                                                      </div>
                                                  </td>
                                                </tr>
                                              </ng-container>
                                              
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                            </div>
                          </div>
                        </div>
                      </div>

                </div>
            </div>
        </div>
                </div>
            </div>
        </div>


<!-- Modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title h5" id="exampleModalLabel"><span>{{ showadd ? 'Créer un' : 'Modifier le'}}</span> compte Marchand</h1>
            <button type="button" class="btn-close" #closebutton data-bs-dismiss="modal"><span class="visually-hidden">Close</span></button>
          </div>
          <hr>
            <div class="modal-body">
                <form [formGroup]="empForm">
                    <div class="form-group">
                        <div class="mb-3"> 
                            <label for="exampleInputEmail1">Libellé</label>
                            <input type="text" formControlName="libelle" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp" placeholder="">
                            <small *ngIf="empForm.get('libelle')?.invalid && empForm.get('libelle')?.touched"class="text-danger">Le libelle est requis</small>
                        </div>
                    </div>

                    <div formArrayName="account">
                        <div *ngFor="let account of account().controls; let empIndex=index">
                            <div [formGroupName]="empIndex" style="border: 1px solid blue; padding: 10px; width: 100%; margin-bottom: 5px;">
                                <p>Compte N°{{empIndex+1}}</p>
                                
                                <div class="bd-example1">
                                    <div class="col-12 col-lg-12">
                                        <div class="row">

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="mb-3"> 
                                                    <label for="exampleInputEmail1">Type</label>
                                                    <select formControlName="type" class="form-select" required="">
                                                        <option selected="" disabled="" value="" aria-hidden="true">Selectionner un type</option>
                                                        <option *ngFor="let typeCompte of typesCompte" [value]="typeCompte.id">
                                                            {{ typeCompte.name }}
                                                        </option>
                                                    </select>
                                                    <small *ngIf="empForm.get('type')?.invalid && empForm.get('type')?.touched"class="text-danger">Le type est requis</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="mb-3"> 
                                                    <label for="exampleInputEmail1">Sous type</label>
                                                    <select formControlName="subsType" class="form-select" required="">
                                                        <option selected="" disabled="" value="" aria-hidden="true">Selectionner un Sous type</option>
                                                        <option *ngFor="let sousTypeCompte of sousTypesCompte" [value]="sousTypeCompte.id">
                                                            {{ sousTypeCompte.name }}
                                                        </option>
                                                    </select>
                                                    <small *ngIf="empForm.get('subsType')?.invalid && empForm.get('subsType')?.touched"class="text-danger">La subsType est requise</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        
                                <div formArrayName="technicalAccount">
                                    <div *ngFor="let skill of accountSkills(empIndex).controls; let skillIndex=index">
                                        <div [formGroupName]="skillIndex">
                                            <p>Compte Technique N°{{skillIndex+1}}</p>

                                            <div class="bd-example">
                                                <div class="col-12 col-lg-12">
                                                    <div class="row fm">
                                                        <div class="col-md-5">
                                                            <label class="for-label">Msisdn</label>
                                                            <input type="text" name="msisdn" class="form-control" formControlName="msisdn" />
                                                            <small *ngIf="empForm.get('msisdn')?.invalid && empForm.get('msisdn')?.touched"class="text-danger">La msisdn est requise</small>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label>Pin</label>
                                                            <input type="password" name="pin" class="form-control" formControlName="pin" />
                                                            <small *ngIf="empForm.get('pin')?.invalid && empForm.get('pin')?.touched"class="text-danger">La pin est requise</small>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <button class="btn btn-danger btn-sm" style="margin-top: 20px;" (click)="removeAccountSkill(empIndex,skillIndex)">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                                                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                                                </svg>
                                                                Supprimer
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="d-grid gap-2 col-10">
                                                        
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                

                                <div class="col-12 col-lg-12">
                                    <button type="button" style="margin-top: 20px;" class="btn btn-primary btn-sm" (click)="addAccountSkill(empIndex)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                    </svg> Ajouter un compte technical 
                                    </button>
                                </div>
                                
                                <div class="col-12 col-lg-12">
                                    <button class="btn btn-danger btn-sm" style="margin-top: 20px;" (click)="removeAccount(empIndex)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                        </svg> Supprimer le compte
                                    </button>
                                </div>
                            
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary btn-sm" (click)="addAccount()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                          </svg> Ajouter un compte 
                        </button>
                    </div>
                    
                </form>

                   <!--{{this.empForm.value | json}}  -->
                   
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Fermer</button>
                <!--<button type="button"(click)="onSubmit()" class="btn btn-success">Soumettre</button>
                <button *ngIf="showadd"type="button"(click)="onSubmit()"[disabled]="formValue.invalid" class="btn btn-success">Soumettre</button>-->

                <button *ngIf="showadd"type="button"(click)="onSubmit()"[disabled]="empForm.invalid" class="btn btn-success">Soumettre</button>
                <button *ngIf="showupdate"type="button"(click)="updateMarchant()" [disabled]="empForm.invalid"class="btn btn-success">Mettre à jour</button>
            </div>

        </div>
    </div>
</div>

<!-- fin modal marchand-->


    </div>
</main>

