<main class="content">
    <div class="container-fluid p-0">

        <div class="row mb-2 mb-xl-3 pt-3 pb-2 mb-3">
            <div class="col-auto d-none d-sm-block">
                <h3>Liste des transferts et validations</h3>
            </div>
        </div>

        <div class="row col_12 p-2 m-2">
            <div class="col-10">
                    <div class="input-group">
                        <label class="input-group-text">Recherche</label>
                        <input type="text" class="form-control" matInput [(ngModel)]="transfertFilter.reference" #input>
                        <button class="btn btn-info">
                            <svg width="20" height="20" class="DocSearch-Search-Icon" viewBox="0 0 20 20">
                                <path d="M14.386 14.386l4.0877 4.0877-4.0877-4.0877c-2.9418 2.9419-7.7115 2.9419-10.6533 0-2.9419-2.9418-2.9419-7.7115 0-10.6533 
                                2.9418-2.9419 7.7115-2.9419 10.6533 0 2.9419 2.9418 2.9419 7.7115 0 10.6533z" stroke="currentColor" fill="none" fill-rule="evenodd" 
                                stroke-linecap="round" stroke-linejoin="round"></path></svg>
                        </button>
                    </div>
            </div>
            <div class="col-2">
                <div class="col-auto ms-auto text-end mt-n1">
                    <div class="dropdown me-2 d-inline-block position-relative">
                        <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Plus de critères</button>
                    </div>
    
                    <!--<button class="btn btn-primary shadow-sm">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-filter align-middle"><polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon></svg>
                    </button>-->
                    
                    <button class="btn btn-primary shadow-sm" (click)="resetData()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-refresh-cw align-middle"><polyline points="23 4 23 10 17 10"></polyline><polyline points="1 20 1 14 7 14"></polyline><path d="M3.51 9a9 9 0 0 1 14.85-3.36L23 10M1 14l4.64 4.36A9 9 0 0 0 20.49 15"></path></svg>
                    </button>
                </div>
            </div>
            
        </div>

        <ng-template #errors>
            <div class="text-danger">{{errorMessage}}</div>
        </ng-template>

        <div class="row">

            <div class="col-12 col-lg-12 d-flex mt-3">
                <div class="card flex-fill">
                    <div id="datatables-dashboard-projects_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                        <div class="row dt-row">
                            <div class="col-sm-12">
                                <table id="datatables-dashboard-projects" class="table table-striped my-0 dataTable no-footer" aria-describedby="datatables-dashboard-projects_info">
                        <thead>
                            <tr>
                                <th class="sorting sorting_asc" tabindex="0" aria-controls="datatables-dashboard-projects" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending">N°</th>
                                <th class="sorting sorting_asc" tabindex="0" aria-controls="datatables-dashboard-projects" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending">Reference</th>
                                <th class="d-none d-xl-table-cell sorting" tabindex="0" aria-controls="datatables-dashboard-projects" rowspan="1" colspan="1" aria-label="End Date: activate to sort column ascending">Sender</th>
                                <th class="sorting" tabindex="0" aria-controls="datatables-dashboard-projects" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">Receveur</th>
                                <th class="d-none d-md-table-cell sorting" tabindex="0" aria-controls="datatables-dashboard-projects" rowspan="1" colspan="1" aria-label="Assignee: activate to sort column ascending">Montant</th>
                                <th class="d-none d-md-table-cell sorting" tabindex="0" aria-controls="datatables-dashboard-projects" rowspan="1" colspan="1" aria-label="Assignee: activate to sort column ascending">Taxe</th>
                                <th class="d-none d-md-table-cell sorting" tabindex="0" aria-controls="datatables-dashboard-projects" rowspan="1" colspan="1" aria-label="Assignee: activate to sort column ascending">Total</th>
                                <th class="d-none d-md-table-cell sorting" tabindex="0" aria-controls="datatables-dashboard-projects" rowspan="1" colspan="1" aria-label="Assignee: activate to sort column ascending">Date</th>
                                <th class="d-none d-md-table-cell sorting" tabindex="0" aria-controls="datatables-dashboard-projects" rowspan="1" colspan="1" aria-label="Assignee: activate to sort column ascending">Statut</th>
                                <th class="d-none d-md-table-cell sorting text-center" tabindex="0" aria-controls="datatables-dashboard-projects" rowspan="1" colspan="1" aria-label="Assignee: activate to sort column ascending">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd" *ngFor="let p of itemsToDisplay1 | filterBy:transfertFilter;let i = index">
                                <td class="sorting_1">{{ (currentPage1 - 1) * itemsPerPage1 + i + 1 }}</td>
                                <td class="d-none d-xl-table-cell">{{p.reference}}</td>
                                <td class="d-none d-xl-table-cell">{{p.sender.id}}</td>
                                <td class="d-none d-xl-table-cell">{{p.receiver.id}}</td>
                                <td class="d-none d-xl-table-cell">{{p.amount.value}}</td>
                                <td class="d-none d-xl-table-cell">{{p.taxAmount.value}}</td>
                                <td class="d-none d-xl-table-cell">{{p.totalAmount.value }}</td>
                                <td class="d-none d-xl-table-cell">{{p.createdAt }}</td>
                                <td class="d-none d-xl-table-cell"><span class="badge" [ngClass]="[p.status === 'Initiate' ? ' bg-light' : '',p.status === 'Pending' ? ' bg-primary' : '', p.status === 'Canceled' ? ' bg-danger'  : '', p.status === 'Completed' ? ' bg-success'  : '']">{{p.status}}</span></td>
                                <td>
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalToggle" (click)="openPopup(p)" data-bs-whatever="@fat" *ngIf="p">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 align-middle">
                                            <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
                                        </svg> Détail
                                    </button>
                                </td>
                            </tr>
                    </tbody>
                    </table>
                        <div class="mt-8 py-2 pagination justify-content-center">
                            <nav aria-label="...">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" (click)="previousPage()" [ngClass]="[currentPage1 === 1 ? 'disabled' : '']">Previous</a>
                                    </li>
                                    <li class="page-item" *ngFor="let pageNumber1 of getPaginationNumbers(); let last = last">
                                        <a class="page-link" *ngIf="pageNumber1 !== 'ellipsis'" [ngClass]="{ 'active': pageNumber1 === currentPageNumber1 }" (click)="goToPage(pageNumber1)"> 
                                            {{ pageNumber1 }} 
                                        </a> 
                                        <span *ngIf="pageNumber1 === 'ellipsis' && !last">...</span>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" (click)="nextPage()" [ngClass]="[currentPage1 === totalPages1 ? 'disabled' : '']">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1" *ngIf="itemsToDisplay1">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title h5" id="exampleModalToggleLabel">Détail du transfert et validation</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal"><span class="visually-hidden">Close</span></button>
                            </div>
                            <hr>
                            <div class="modal-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <label for="recipient-name" class="col-form-label">Référence:</label> {{ selectedRow?.reference }}
                                    </li>
                                    <li class="list-group-item">
                                        <label for="recipient-name" class="col-form-label">Sender:</label> {{ selectedRow?.sender.id }}
                                    </li>
                                    <li class="list-group-item">
                                        <label for="recipient-name" class="col-form-label">Receveur:</label> {{ selectedRow?.receiver.id }}
                                    </li>
                                    <li class="list-group-item">
                                        <label for="recipient-name" class="col-form-label">Montant:</label> {{ selectedRow?.amount.value }}
                                    </li>
                                    <li class="list-group-item">
                                        <label for="recipient-name" class="col-form-label">Taxe:</label> {{ selectedRow?.taxAmount.value }}
                                    </li>
                                    <li class="list-group-item">
                                        <label for="recipient-name" class="col-form-label">Total:</label> {{ selectedRow?.totalAmount.value }}
                                    </li>
                                    <li class="list-group-item">
                                        <label for="recipient-name" class="col-form-label">Date:</label> {{ selectedRow?.totalAmount.value }}
                                    </li>
                                    <li class="list-group-item">
                                        <label for="recipient-name" class="col-form-label">Statut: </label> 
                                        <span class="badge" [ngClass]="[selectedRow?.status === 'Initiate' ? ' bg-light' : '',selectedRow?.status === 'Pending' ? ' bg-primary' : '', selectedRow?.status === 'Canceled' ? ' bg-danger'  : '', selectedRow?.status === 'Completed' ? ' bg-success'  : '']">{{selectedRow?.status}}</span>
                                    </li>
                                  </ul>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                              </div>
                          </div>
                        </div>
                      </div>

                </div>
            </div>
        </div>
                </div>
            </div>
        </div>


         <!-- End popup-->
         <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title h5" id="exampleModalLabel">Recherche</h1>
                  <button type="button" class="btn-close" #closebutton data-bs-dismiss="modal"><span class="visually-hidden">Close</span></button>
                </div>
                <hr style="color:#ccc">
                <div class="modal-body">
                    <form [formGroup]="formValue">
                    <div class="mb-3">
                      <label for="recipient-name" class="col-form-label">Date Début:</label>
                      <input type="date" formControlName="startDate" class="form-control" id="startDate">
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Date Fin:</label>
                        <input type="date" formControlName="endDate" class="form-control" id="endDate">
                    </div>
                    <div class="mb-3">
                        <label for="role" id="roleLabel" class="form-label">Status</label>
                        <select formControlName="state" class="form-select" required="">
                          <option selected="" value="" aria-hidden="true">Selectionner un status</option>
                          <option value="Done">Done</option>
                          <option value="Failed">Failed</option>
                          <option value="InProgress">InProgress</option>
                        </select>
                      </div>

                      
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" #closebutton data-bs-dismiss="modal">Close</button>
                  <button type="button" (click)="Recherche()" class="btn btn-primary">Rechercher</button>
                </div>
              </div>
            </div>
        </div>

        <!-- End popup-->

    </div>
</main>

