<main class="bd-content order-1">
    <div class="bg-white title-bar">
      <div class="container-xxl d-block">
        <div class="row">
          <div class="col-sm-12 col-lg-10 offset-lg-3 mt-3">
            <h3 id="quick-start">Créer un utilisateur</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="container-xxl pt-4">
      <div class="row">
        <div class="col-sm-12 col-lg-5 offset-lg-3">
          <form class="needs-validation mb-5" novalidate="" [formGroup]="newUserForm">
            <div class="row">
              <div class="col-12">

                <div class="mb-3">
                  <label for="name" id="name" class="form-label is-required">Nom et prénom(s)</label>
                  <input type="text" formControlName="name" class="form-control" required="">
                    <div *ngIf="newUserForm.controls.name.touched && newUserForm.controls.name.invalid" class="invalid-feedback">
                        <span *ngIf="newUserForm.controls.name.errors.required">Ce champ est obligatoire</span>
                        <span *ngIf="newUserForm.controls.name.errors.pattern">This field is invalid</span>
                    </div>
                </div>

                <div class="mb-3">
                  <label for="contactNumber" id="contactNumber" class="form-label is-required">Contact</label>
                  <input type="text" formControlName="contactNumber" class="form-control" required="">
                    <div *ngIf="newUserForm.controls.contactNumber.touched && newUserForm.controls.contactNumber.invalid" class="invalid-feedback">
                        <span *ngIf="newUserForm.controls.contactNumber.errors.required">Ce champ est obligatoire</span>
                        <span *ngIf="newUserForm.controls.contactNumber.errors.pattern">This field is invalid</span>
                    </div>
                </div>

                <div class="mb-3">
                  <label for="email" id="emailLabel" class="form-label is-required">Email</label>
                  <input type="email" formControlName="email" class="form-control" required="">
                  <div *ngIf="newUserForm.controls.email.touched && newUserForm.controls.email.invalid" class="invalid-feedback">
                        <span *ngIf="newUserForm.controls.email.errors.required">Ce champ est obligatoire</span>
                        <span *ngIf="newUserForm.controls.email.errors.pattern">This field is invalid</span>
                    </div>
                </div>

                <div class="mb-3">
                  <label for="role" id="roleLabel" class="form-label is-required">Role</label>
                  <select formControlName="role" class="form-select" required="">
                    <option selected="" disabled="" value="" aria-hidden="true">Selectionner un role</option>
                    <option value="admin">Administrateur</option>
                    <option value="operateur">Opérateur</option>
                    <option value="marchant">Marchant</option>
                  </select>
                  <div *ngIf="newUserForm.controls.role.touched && newUserForm.controls.role.invalid">
                    <span *ngIf="newUserForm.controls.role.errors.required">Ce champ est obligatoire</span>
                    <span *ngIf="newUserForm.controls.role.errors.pattern">This field is invalid</span>
                  </div>
                </div>

                <div class="mb-3">
                    <label for="password" id="passwordLabel" class="form-label is-required">Password</label>
                    <input type="password" formControlName="password" class="form-control" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" required>
                    <div *ngIf="newUserForm.controls.password.touched && newUserForm.controls.password.invalid">
                        <span *ngIf="newUserForm.controls.password.errors.required">Ce champ est obligatoire</span>
                        <span *ngIf="newUserForm.controls.password.errors.pattern">This field is invalid</span>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="confirmPassword" id="passwordLabel" class="form-label is-required">Confirm Password</label>
                    <input type="password" formControlName="confirmPassword" class="form-control" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" required>
                    <div *ngIf="newUserForm.controls.confirmPassword.touched && newUserForm.controls.confirmPassword.invalid">
                        <span *ngIf="newUserForm.controls.confirmPassword.errors.required">Ce champ est obligatoire</span>
                        <span *ngIf="newUserForm.controls.confirmPassword.errors.pattern">This field is invalid</span>
                    </div>

                    <div *ngIf="validateSubmit() && !(newUserForm.controls.confirmPassword.invalid)">
                        <span>New Password & Confirm Password does not match.</span>
                    </div>


                </div>


              <div class="col-12">
                <p class="fw-bold mb-4">
                  <span class="text-primary me-1">*</span>Les champs sont obligatoires
                </p>
              </div>

                <button type="submit" class="btn btn-primary mt-2" [disabled]="!(newUserForm.valid && newUserForm.dirty)">Soumettre</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>