<main class="content">
<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
      <div class="authentication-inner">
        <!-- Register -->
        <div class="card">
          <div class="card-body">
            <!-- Logo -->
            <div class="mb-0 form-floating text-center">
                <img alt="logo"  alt="" src="../../assets/images/orange-logo.svg" width="70" height="70" class="mr-4">
                <h1 class="h3 mb-3 fw-normal">Connexion</h1>
            </div>
            <!-- /Logo -->
            <p class="mb-4">Connectez-vous à votre compte s'il vous plaît !!!</p>
            
            <form id="formAuthentication" class="mb-3" [formGroup]="loginForm">
              <div class="mb-3">
                <label for="username" class="form-label">Login</label>
                <input type="text" formControlName="username" class="form-control" placeholder="identifiant" required>
                    <div *ngIf="loginForm.controls.username.touched && loginForm.controls.username.invalid">
                        <span *ngIf="loginForm.controls.username.errors.required">Ce champ est obligatoire</span>
                        <span *ngIf="loginForm.controls.username.errors.pattern">This field is invalid</span>
                    </div>
              </div>
              <div class="mb-3 form-password-toggle">
                <div class="d-flex justify-content-between">
                  <label class="form-label" for="password">Mot de passe</label>
                  <!--<a href="auth-forgot-password-basic.html">
                    <small>Forgot Password?</small>
                  </a>-->
                </div>
                <div class="input-group input-group-merge">
                  <input type="password" formControlName="password" class="form-control" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" required>
                    <div *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid">
                        <span *ngIf="loginForm.controls.password.errors.required">Ce champ est obligatoire</span>
                        <span *ngIf="loginForm.controls.password.errors.pattern">This field is invalid</span>
                    </div>
                </div>
              </div>
              <div class="mb-3">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="remember-me" />
                  <label class="form-check-label" for="remember-me"> Se souvenir de moi </label>
                </div>
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="show">
                <span class="alert-icon" *ngIf="show"><span class="visually-hidden" *ngIf="show">Error</span></span>
                <p *ngIf="show">Erreur de connexion. <br>Login ou mot de passe incorrect !</p>
              </div>
              <div class="mb-3">
                <button class="btn btn-primary d-grid w-100 btn-gradient-danger" type="submit" (click)="handleSubmit()" [disabled]="!(loginForm.valid && loginForm.dirty)">Connexion</button>
              </div>
            </form>


            <p class="text-center">&copy; {{annee}} Orange Côte d'Ivoire</p>
          </div>
        </div>
        <!-- /Register -->
      </div>
    </div>
  </div>
</main>
  <!-- / Content -->