<main class="bd-content order-1">
    <div class="bg-white title-bar">
      <div class="container-xxl d-block">
        <div class="row">
          <div class="col-sm-12 col-lg-10 offset-lg-3 mt-3">
            <h3 id="quick-start">Modification de l'utilisateur: {{dataSource.name}}</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="container-xxl pt-4">
      <div class="row">
        <div class="col-sm-12 col-lg-5 offset-lg-3">
          <form class="needs-validation mb-5" [formGroup]="editUserForm">
            <div class="row">
              <div class="col-12">

                <div class="mb-3">
                  <label for="name" id="name" class="form-label is-required">Nom et prénom(s)</label>
                  <input type="text" formControlName="name" class="form-control" required="">
                    <div *ngIf="editUserForm.controls.name.touched && editUserForm.controls.name.invalid">
                      <span *ngIf="editUserForm.controls.name.errors.required">Ce champ est obligatoire</span>
                      <span *ngIf="editUserForm.controls.name.errors.pattern">This field is invalid</span>
                    </div>
                </div>

                <div class="mb-3">
                  <label for="contactNumber" id="contactNumber" class="form-label is-required">Contact</label>
                  <input type="text" formControlName="contactNumber" class="form-control" required="">
                    <div *ngIf="editUserForm.controls.contactNumber.touched && editUserForm.controls.contactNumber.invalid" class="invalid-feedback">
                        <span *ngIf="editUserForm.controls.contactNumber.errors.required">Ce champ est obligatoire</span>
                        <span *ngIf="editUserForm.controls.contactNumber.errors.pattern">This field is invalid</span>
                    </div>
                </div>
                
                <div class="mb-3">
                  <label for="email" id="emailLabel" class="form-label is-required">Email</label>
                  <input type="email" formControlName="email" class="form-control" required="">
                  <div *ngIf="editUserForm.controls.email.touched && editUserForm.controls.email.invalid" class="invalid-feedback">
                        <span *ngIf="editUserForm.controls.email.errors.required">Ce champ est obligatoire</span>
                        <span *ngIf="editUserForm.controls.email.errors.pattern">This field is invalid</span>
                    </div>
                </div>

                <div class="mb-3">
                  <label for="role" id="roleLabel" class="form-label is-required">Role</label>
                  <select formControlName="role" class="form-select" required="">
                    <option selected="" disabled="" value="" aria-hidden="true">Selectionner un role</option>
                    <option value="admin">Administrateur</option>
                    <option value="operateur">Opérateur</option>
                    <option value="marchant">Marchant</option>
                  </select>
                  <div *ngIf="editUserForm.controls.role.touched && editUserForm.controls.role.invalid">
                    <span *ngIf="editUserForm.controls.role.errors.required">Ce champ est obligatoire</span>
                    <span *ngIf="editUserForm.controls.role.errors.pattern">This field is invalid</span>
                  </div>
                </div>
                

              <div class="col-12">
                <p class="fw-bold mb-4">
                  <span class="text-primary me-1">*</span>Les champs sont obligatoires
                </p>
              </div>

                <button type="submit" class="btn btn-primary mt-2" [disabled]="!this.editUserForm.valid">Enregistrer</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>