<main class="content">
    <div class="container-fluid p-0">

        <div class="row mb-2 mb-xl-3 pt-3 pb-2 mb-3">
            <div class="col-auto d-none d-sm-block">
                <h3>Liste des utilisateurs</h3>
            </div>
        </div>

        <div class="row col_12 p-2 m-2">
            <div class="col-8">
                    <div class="input-group">
                        <label class="input-group-text">Recherche</label>
                        <input type="text" class="form-control" matInput [(ngModel)]="userFilter.firstName" #input>
                        <button class="btn btn-info">
                            <svg width="20" height="20" class="DocSearch-Search-Icon" viewBox="0 0 20 20">
                                <path d="M14.386 14.386l4.0877 4.0877-4.0877-4.0877c-2.9418 2.9419-7.7115 2.9419-10.6533 0-2.9419-2.9418-2.9419-7.7115 0-10.6533 
                                2.9418-2.9419 7.7115-2.9419 10.6533 0 2.9419 2.9418 2.9419 7.7115 0 10.6533z" stroke="currentColor" fill="none" fill-rule="evenodd" 
                                stroke-linecap="round" stroke-linejoin="round"></path></svg>
                        </button>
                    </div>
            </div>
            <div class="col-2">
                <div class="col-auto ms-auto text-end mt-n1">
                    <div class="dropdown me-2 d-inline-block position-relative">
                        <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModalSearch" data-bs-whatever="@mdo"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-filter align-middle"><polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon></svg>
                            Plus de critères</button>
                    </div>
                    <button class="btn btn-primary shadow-sm" (click)="resetData()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-refresh-cw align-middle"><polyline points="23 4 23 10 17 10"></polyline><polyline points="1 20 1 14 7 14"></polyline><path d="M3.51 9a9 9 0 0 1 14.85-3.36L23 10M1 14l4.64 4.36A9 9 0 0 0 20.49 15"></path></svg>
                    </button>
                </div>
            </div>

            <div class="col-2">
                <button class="btn btn-secondary" (click)="add()"data-bs-toggle="modal" data-bs-target="#exampleModal">Créer un utilisateur</button>
            </div>
            
        </div>


        

        <ng-template #errors>
            <div class="text-danger">{{errorMessage}}</div>
        </ng-template>

        <div class="row">

            <div class="col-12 col-lg-12 d-flex mt-3">
                <div class="card flex-fill">
                    <div id="datatables-dashboard-projects_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                        <div class="row dt-row">
                            <div class="col-sm-12">
                                <table id="datatables-dashboard-projects" class="table table-striped my-0 dataTable no-footer" aria-describedby="datatables-dashboard-projects_info">
                        <thead>
                            <tr>
                                <th class="sorting sorting_asc" tabindex="0" aria-controls="datatables-dashboard-projects" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending">N°</th>
                                <th class="d-none d-xl-table-cell sorting" tabindex="0" aria-controls="datatables-dashboard-projects" rowspan="1" colspan="1" aria-label="Start Date: activate to sort column ascending">Nom</th>
                                <th class="d-none d-md-table-cell sorting" tabindex="0" aria-controls="datatables-dashboard-projects" rowspan="1" colspan="1" aria-label="Assignee: activate to sort column ascending">Prénom(s)</th>
                                <th class="d-none d-md-table-cell sorting" tabindex="0" aria-controls="datatables-dashboard-projects" rowspan="1" colspan="1" aria-label="Assignee: activate to sort column ascending">Email</th>
                                <th class="d-none d-xl-table-cell sorting" tabindex="0" aria-controls="datatables-dashboard-projects" rowspan="1" colspan="1" aria-label="Start Date: activate to sort column ascending">Contact</th>
                                <th class="d-none d-md-table-cell sorting" tabindex="0" aria-controls="datatables-dashboard-projects" rowspan="1" colspan="1" aria-label="Assignee: activate to sort column ascending">Username</th>
                                <th class="d-none d-xl-table-cell sorting" tabindex="0" aria-controls="datatables-dashboard-projects" rowspan="1" colspan="1" aria-label="End Date: activate to sort column ascending">Créateur</th>
                                <th class="sorting" tabindex="0" aria-controls="datatables-dashboard-projects" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">Date création</th>
                                <th class="d-none d-xl-table-cell sorting" tabindex="0" aria-controls="datatables-dashboard-projects" rowspan="1" colspan="1" aria-label="Start Date: activate to sort column ascending">Statut</th>
                                <th class="d-none d-md-table-cell sorting text-center" tabindex="0" aria-controls="datatables-dashboard-projects" rowspan="1" colspan="1" aria-label="Assignee: activate to sort column ascending">Action</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                        <tr class="odd" *ngFor="let p of itemsToDisplay1 | filterBy:userFilter;let i = index">
                            <td class="sorting_1">{{ (currentPage1 - 1) * itemsPerPage1 + i + 1 }}</td>
                            <td class="d-none d-xl-table-cell">{{p?.firstName}}</td>
                            <td class="d-none d-xl-table-cell">{{p?.lastName}}</td>
                            <td class="d-none d-xl-table-cell">{{p?.email}}</td>

                            <td class="d-none d-xl-table-cell">{{p?.contact}}</td>
                            <td class="d-none d-xl-table-cell">{{p?.username}}</td>

                            <td class="d-none d-xl-table-cell">{{p?.createdBy}}</td>
                            <td class="d-none d-xl-table-cell">{{p?.createdDate}}</td>
                            <td class="d-none d-xl-table-cell">
                                <!--<span class="badge" [ngClass]="[p.active === true ? ' bg-success' : '', p.active === false ? ' bg-danger'  : '']">
                                    {{p.active === true ? 'Actif' : 'Inactif'}}
                                  </span>-->

                                  <div class="justify-c">
                                    <div class="form-check form-switch" *ngIf="p?.active === false">
                                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" [value]="p.statusValue" (change)="handleChangeAction($event,p?.id)">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Inactif</label>
                                    </div>

                                    <div class="form-check form-switch" *ngIf="p?.active === true">
                                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" checked [value]="p.statusValue" (change)="handleChangeAction($event,p?.id)">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Actif</label>
                                    </div>
                                </div>

                            </td>
                            <td>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalToggle" (click)="openPopup(p)" data-bs-whatever="@fat" *ngIf="p">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 align-middle">
                                        <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
                                    </svg> Détail
                                </button>

                                <button class="btn btn-info"(click)="edit(p)"data-bs-toggle="modal" data-bs-target="#exampleModal" *ngIf="p">Modifier</button>&nbsp;
                            </td>
                        </tr>
                    </tbody>
                    </table>
                        <div class="mt-8 py-2 pagination justify-content-center">
                            <nav aria-label="...">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" (click)="previousPage()" [ngClass]="[currentPage1 === 1 ? 'disabled' : '']">Previous</a>
                                    </li>
                                    <li class="page-item" *ngFor="let pageNumber1 of getPaginationNumbers(); let last = last">
                                        <a class="page-link" *ngIf="pageNumber1 !== 'ellipsis'" [ngClass]="{ 'active': pageNumber1 === currentPageNumber1 }" (click)="goToPage(pageNumber1)"> 
                                            {{ pageNumber1 }} 
                                        </a> 
                                        <span *ngIf="pageNumber1 === 'ellipsis' && !last">...</span>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" (click)="nextPage()" [ngClass]="[currentPage1 === totalPages1 ? 'disabled' : '']">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1" *ngIf="itemsToDisplay1">
                        <div class="modal-dialog modal-lg modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title h5" id="exampleModalToggleLabel">Détail Channel</h1>
                              
                              <button type="button" class="btn-close" data-bs-dismiss="modal"><span class="visually-hidden">Close</span></button>
                            </div>
                            <hr>
                            <div class="modal-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <label for="recipient-name" class="col-form-label">Nom:</label> {{ selectedRow?.firstName }}
                                    </li>
                                    <li class="list-group-item">
                                        <label for="recipient-name" class="col-form-label">Prénom(s):</label> {{ selectedRow?.lastName }}
                                    </li>
                                    <li class="list-group-item">
                                        <label for="recipient-name" class="col-form-label">E-mail:</label> {{ selectedRow?.email }}
                                    </li>
                                    <li class="list-group-item">
                                        <label for="recipient-name" class="col-form-label">Contact:</label> {{ selectedRow?.contact }}
                                    </li>
                                    <li class="list-group-item">
                                        <label for="recipient-name" class="col-form-label">Username:</label> {{ selectedRow?.username }}
                                    </li>
                                    <li class="list-group-item">
                                        <label for="recipient-name" class="col-form-label">Créateur:</label> {{ selectedRow?.createdBy }}
                                    </li>
                                    <li class="list-group-item">
                                        <label for="recipient-name" class="col-form-label">Date Création:</label> {{ selectedRow?.createdDate }}
                                    </li>
                                    <li class="list-group-item">
                                        <label for="recipient-name" class="col-form-label">Statut: </label> 
                                        <span class="badge" [ngClass]="[selectedRow?.active === true ? ' bg-success' : '', selectedRow?.active === false ? ' bg-danger'  : '']">
                                            {{selectedRow?.active === true ? 'Actif' : 'Inactif'}}
                                          </span>
                                    </li>
                                    <li class="list-group-item">
                                        <label for="recipient-name" class="col-form-label">Role:</label>
                                        <table class="table">
                                            <caption class="visually-hidden"></caption>
                                            <thead>
                                              <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Nom</th>
                                                <th scope="col">Titre</th>
                                                <th scope="col">Statut</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                                <ng-container *ngFor="let acc of selectedRow?.roles; let i = index">
                                                    <tr>
                                                        <th scope="row">{{ i + 1 }}</th>
                                                        <td>{{ acc?.name }}</td>
                                                        <td>{{ acc?.title }}</td>
                                                        <td>
                                                            <span class="badge" [ngClass]="[acc?.active === true ? ' bg-success' : '', acc?.active === false ? ' bg-danger'  : '']">
                                                                {{acc?.active === true ? 'Actif' : 'Inactif'}}
                                                              </span>
                                                        </td>
                                                      </tr>
                                                </ng-container>
                                            </tbody>
                                          </table>
                                    </li>
                                  </ul>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                            </div>
                          </div>
                        </div>
                      </div>

                </div>
            </div>
        </div>
                </div>
            </div>
        </div>






<!-- Modal -->

        
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title h5" id="exampleModalLabel"><span>{{ showadd ? "Créer un " : "Modifier l'"}}</span>utilisateur</h1>
                    <button type="button" class="btn-close" #closebutton data-bs-dismiss="modal"><span class="visually-hidden">Close</span></button>
                  </div>
                  <hr>

                    <div class="modal-body">
                        <form [formGroup]="formValue">
                                <div class="form-group">
                                    <div class="mb-3"> 
                                    <label for="exampleInputEmail1">Nom</label>
                                    <input type="text" formControlName="firstName"   class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
                                    <small *ngIf="formValue.get('firstName')?.invalid && formValue.get('firstName')?.touched"class="text-danger">Le Nom est requis</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="mb-3"> 
                                        <label for="exampleInputEmail1">Prénom(s):</label>
                                        <input type="text" formControlName="lastName"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
                                        <small *ngIf="formValue.get('lastName')?.invalid && formValue.get('lastName')?.touched" class="text-danger">Le nom est requis </small>  
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="mb-3"> 
                                    <label for="exampleInputEmail1">email</label>
                                    <input type="text" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
                                    <small *ngIf="formValue.get('email')?.invalid && formValue.get('email')?.touched"class="text-danger">La description est requise</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="mb-3"> 
                                    <label for="exampleInputEmail1">contact</label>
                                    <input type="text" formControlName="contact" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
                                    <small *ngIf="formValue.get('contact')?.invalid && formValue.get('contact')?.touched"class="text-danger">Le contact est requise</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="mb-3"> 
                                    <label for="exampleInputEmail1">username</label>
                                    <input type="text" formControlName="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
                                    <small *ngIf="formValue.get('username')?.invalid && formValue.get('username')?.touched"class="text-danger">La description est requise</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="mb-3"> 
                                        <label for="exampleInputEmail1">Role</label>
                                    <ul class="list-group">
                                        <li class="list-group-item" *ngFor="let role of itemsToDisplayRole; let i = index">
                                            <input class="form-check-input me-1" type="checkbox" [value]="role.id" [checked]="role.selected" id="firstCheckboxStretched{{i}}" (change)="onCheckboxChange($event)"/>
                                            <label class="form-check-label stretched-link" for="firstCheckboxStretched{{i}}">{{ role?.name }} </label>
                                        </li>
                                        
                                    </ul>
                                    </div>
                                </div>
                        </form>
                    </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Fermer</button>
          <button *ngIf="showadd" type="button" (click)="onSubmit()"[disabled]="formValue.invalid" class="btn btn-success">Soumettre</button>
          <button *ngIf="showupdate" type="button"(click)="updateUser()" [disabled]="formValue.invalid"class="btn btn-success">Mettre à jour</button>
        </div>

      </div>
    </div>
  </div>




    </div>
</main>

