.card {
    background-clip: padding-box;
    box-shadow: 0 2px 6px 0 rgba(67,89,113,.12);
  }
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid #d9dee3;
    border-radius: 0.5rem;
  }
  .input-group1 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

::ng-deep{
  .ngx-pagination .current {
    padding: 0.1875rem 0.625rem;
    background: #000;
    color: #fefefe;
    cursor: default;
}

.ngx-pagination li {
    display: inline-block;
}

}

.current {
  padding: 0.1875rem 0.625rem;
  background: #000;
  color: #fefefe;
  cursor: default;
}
  
  