<main class="content">
    <div class="container-fluid p-0">

        <div class="row mb-2 mb-xl-3 pt-3 pb-2 mb-3">
            <div class="col-auto d-none d-sm-block">
                <h3>Liste des paiements</h3>
            </div>
        </div>

        <div class="row col_12 p-2 m-2">
            <div class="col-10">
                    <div class="input-group">
                        <label class="input-group-text">Recherche</label>
                        <input type="text" class="form-control" matInput [(ngModel)]="paiementFilter.account" #input>
                        <button class="btn btn-info">
                            <svg width="20" height="20" class="DocSearch-Search-Icon" viewBox="0 0 20 20">
                                <path d="M14.386 14.386l4.0877 4.0877-4.0877-4.0877c-2.9418 2.9419-7.7115 2.9419-10.6533 0-2.9419-2.9418-2.9419-7.7115 0-10.6533 
                                2.9418-2.9419 7.7115-2.9419 10.6533 0 2.9419 2.9418 2.9419 7.7115 0 10.6533z" stroke="currentColor" fill="none" fill-rule="evenodd" 
                                stroke-linecap="round" stroke-linejoin="round"></path></svg>
                        </button>
                    </div>
            </div>
            
        </div>

        <ng-template #errors>
            <div class="text-danger">{{errorMessage}}</div>
        </ng-template>

        <div class="row">

            <div class="col-12 col-lg-12 d-flex mt-3">
                <div class="card flex-fill">
                    <div id="datatables-dashboard-projects_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                        <div class="row dt-row">
                            <div class="col-sm-12">
                                <table id="datatables-dashboard-projects" class="table table-striped my-0 dataTable no-footer" aria-describedby="datatables-dashboard-projects_info">
                        <thead>
                            <tr>
                                <th class="sorting sorting_asc" tabindex="0" aria-controls="datatables-dashboard-projects" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending">Acount</th>
                                <th class="d-none d-xl-table-cell sorting" tabindex="0" aria-controls="datatables-dashboard-projects" rowspan="1" colspan="1" aria-label="Start Date: activate to sort column ascending">Payer</th>
                                <th class="d-none d-xl-table-cell sorting" tabindex="0" aria-controls="datatables-dashboard-projects" rowspan="1" colspan="1" aria-label="End Date: activate to sort column ascending">Payée</th>
                                <th class="sorting" tabindex="0" aria-controls="datatables-dashboard-projects" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">Montant</th>
                                <th class="d-none d-md-table-cell sorting" tabindex="0" aria-controls="datatables-dashboard-projects" rowspan="1" colspan="1" aria-label="Assignee: activate to sort column ascending">Référence</th>
                                <th class="d-none d-md-table-cell sorting" tabindex="0" aria-controls="datatables-dashboard-projects" rowspan="1" colspan="1" aria-label="Assignee: activate to sort column ascending">Date paiement</th>
                                <th class="d-none d-md-table-cell sorting" tabindex="0" aria-controls="datatables-dashboard-projects" rowspan="1" colspan="1" aria-label="Assignee: activate to sort column ascending">Statut</th>
                                <th class="d-none d-md-table-cell sorting" tabindex="0" aria-controls="datatables-dashboard-projects" rowspan="1" colspan="1" aria-label="Assignee: activate to sort column ascending">Etape</th>
                                <th class="d-none d-md-table-cell sorting" tabindex="0" aria-controls="datatables-dashboard-projects" rowspan="1" colspan="1" aria-label="Assignee: activate to sort column ascending">Canal</th>

                                <th class="d-none d-md-table-cell sorting" tabindex="0" aria-controls="datatables-dashboard-projects" rowspan="1" colspan="1" aria-label="Assignee: activate to sort column ascending">Description</th>

                                <th class="d-none d-md-table-cell sorting text-center" tabindex="0" aria-controls="datatables-dashboard-projects" rowspan="1" colspan="1" aria-label="Assignee: activate to sort column ascending">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr class="odd" *ngFor="let p of itemsToDisplay1">
                            <td class="sorting_1">{{p.account}}</td>
                            <td class="d-none d-xl-table-cell">{{p.payer}}</td>
                            <td class="d-none d-xl-table-cell">{{p.payee}}</td>
                            <td class="d-none d-xl-table-cell">{{p.amount}}</td>
                            <td class="d-none d-xl-table-cell">{{p.txnId}}</td>
                            <td class="d-none d-xl-table-cell">{{p.paymentDate}}</td>
                            <td class="d-none d-xl-table-cell">
                                <span class="badge" [ngClass]="[p.state === 'Done' ? ' bg-success' : '', p.state === 'Failed' ? ' bg-danger'  : '']">
                                    {{p.state}}
                                  </span>
                                
                            </td>
                            <td class="d-none d-xl-table-cell">{{p.step }}</td>
                            <td class="d-none d-xl-table-cell">{{p.channel }}</td>
                            <td class="d-none d-xl-table-cell">{{p.description }}</td>
                            <td>
                                <button type="button" class="btn btn-inverse btn-primary btn-sm" (click)="handleDetailPaiement(p.paie_id)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 align-middle">
                                        <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
                                    </svg> Détail
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    </table>
                    <div class="mt-8 py-2 pagination justify-content-center">
                        <nav aria-label="...">
                            <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" (click)="previousPage()" [ngClass]="[currentPage1 === 1 ? 'disabled' : '']">Previous</a>
                            </li>
                            <li class="page-item" *ngFor="let pageNumber1 of getPaginationNumbers(); let last = last">
                                    <a
                                        class="page-link"
                                        *ngIf="pageNumber1 !== 'ellipsis'"
                                        [ngClass]="{ 'active': pageNumber1 === currentPageNumber1 }"
                                        (click)="goToPage(pageNumber1)"
                                    >
                                        {{ pageNumber1 }}
                                    </a>
                                    <span *ngIf="pageNumber1 === 'ellipsis' && !last">...</span>
                            </li>
                            <li class="page-item">
                                <a class="page-link" (click)="nextPage()" [ngClass]="[currentPage1 === totalPages1 ? 'disabled' : '']">Next</a>
                            </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
                </div>
            </div>
        </div>

    </div>
</main>
