.page-numbers {
    margin-top: 10px;
  }

  .page-numbers span {
    cursor: pointer;
    padding: 5px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .page-numbers span.active {
    font-weight: bold;
    color: #000;
    background-color: #ccc;
  }

li:hover{
  cursor:pointer;
}