<main class="bd-content order-1">
    <div class="bg-white title-bar">
      <div class="container-xxl d-block">
        <div class="row">
          <div class="col-sm-12 col-lg-10 offset-lg-3 mt-3">
            <h3 id="quick-start" *ngIf="dataSource.trans_reference">Détail du transfert: {{dataSource.trans_reference}}</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="container-xxl pt-4">
      <div class="row">
        <div class="col-sm-12 col-lg-5 offset-lg-3">
          <form class="needs-validation mb-5" [formGroup]="detailTransfertForm">
            <div class="row">
              <div class="col-12">

                <div class="mb-3">
                    <label for="trans_reference" id="trans_reference" class="form-label is-required">trans_reference</label>
                    <input type="text" formControlName="trans_reference" class="form-control" required="">
                  </div>

                <div class="mb-3">
                  <label for="trans_code" id="trans_code" class="form-label is-required">trans_code</label>
                  <input type="text" formControlName="trans_code" class="form-control" required="">
                </div>

                <div class="mb-3">
                  <label for="trans_receiver" id="trans_receiver" class="form-label is-required">trans_receiver</label>
                  <input type="text" formControlName="trans_receiver" class="form-control" required="">
                </div>
                
                <div class="mb-3">
                  <label for="trans_amount" id="trans_amount" class="form-label is-required">trans_amount</label>
                  <input type="text" formControlName="trans_amount" class="form-control" required="">
                </div>

                <div class="mb-3">
                    <label for="trans_taxamount" id="trans_taxamount" class="form-label is-required">trans_taxamount</label>
                    <input type="text" formControlName="trans_taxamount" class="form-control" required="">
                </div>

                <div class="mb-3">
                    <label for="trans_totalamount" id="trans_totalamount" class="form-label is-required">trans_totalamount</label>
                    <input type="text" formControlName="trans_totalamount" class="form-control" required="">
                </div>

                <div class="mb-3">
                    <label for="trans_status" id="trans_status" class="form-label is-required">trans_status</label>
                    <input type="text" formControlName="trans_status" class="form-control" required="">
                </div>

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>