<main class="content">
    <div class="container-fluid p-0">

        <div class="row mb-2 mb-xl-3 pt-3 pb-2 mb-3">
            <div class="col-sm-8">
            <div class="col-auto d-none d-sm-block">
                <h3>Dashboard</h3>
            </div>
            </div>
            
            <div class="col-sm-2">
                <div class="col-auto ms-auto text-end mt-n1">
                    
                    <form [formGroup]="dateSelect">
                        <input type="text" matInput
                        ngxDaterangepickerMd
                        [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}"
                        (change)="choosedDate($event)"
                        formControlName="selected"
                        class="form-control"
                        placeholder="Personnaliser"
                        name="daterange"/>
                    </form>
                </div>
                
            </div>
            <div class="col-sm-2">
            <div class="col-auto ms-auto text-end mt-n1">
                <div class="dropdown me-2 d-inline-block position-relative">
                    <a class="btn btn-light bg-white shadow-sm dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-display="static">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar align-middle mt-n1"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg> {{titreSelect}}
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <h6 class="dropdown-header">Critères</h6>
                        <button class="dropdown-item" (click)="RechercheAujourdui()">Aujourd'hui</button>
                        <button class="dropdown-item" (click)="RechercheSemaine()">Les 7 derniers jours</button>
                        <button class="dropdown-item" (click)="RechercheMois()">Ce mois</button>
                        <div class="dropdown-divider"></div>
                        <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Personnaliser </button>
                        <!--<form [formGroup]="dateSelect">
                            <input type="text" matInput
                            ngxDaterangepickerMd
                            [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}"
                            (change)="choosedDate($event)"
                            formControlName="selected"
                            class="form-control"
                            name="daterange"/>
                        </form>
                    -->
                    </div>
                </div>


                <button class="btn btn-primary shadow-sm">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-filter align-middle"><polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon></svg>
                </button>
                <button class="btn btn-primary shadow-sm">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-refresh-cw align-middle"><polyline points="23 4 23 10 17 10"></polyline><polyline points="1 20 1 14 7 14"></polyline><path d="M3.51 9a9 9 0 0 1 14.85-3.36L23 10M1 14l4.64 4.36A9 9 0 0 0 20.49 15"></path></svg>
                </button>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-xxl-3 d-flex">
                <div class="card illustration flex-fill">
                    <div class="card-body p-0 d-flex flex-fill">
                        <div class="row g-0 w-100">
                            <div class="col-6">
                                <div class="illustration-text p-3 m-1">
                                    <h4 class="illustration-text">Bienvenue à nouveau, {{userconnectinfo}} !</h4>
                                    <p class="mb-0">Votre dashboard Arkham</p>
                                </div>
                            </div>
                            <div class="col-6 align-self-end text-end">
                                <img src="./../../assets/images/customer-support.png" alt="Customer Support" class="img-fluid illustration-img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xxl-3 d-flex">
                <div class="card flex-fill">
                    <div class="card-body py-4">
                        <div class="d-flex align-items-start">
                            <div class="flex-grow-1">
                                <h3 class="mb-2"><!--{{data?.user}}--></h3>
                                <p class="mb-2">Total des comptes</p>
                                <div class="mb-0">
                                    <span class="badge badge-soft-success me-2"> +5.35% </span>
                                    <span class="text-muted">Depuis la semaine dernière</span>
                                </div>
                            </div>
                            <div class="d-inline-block ms-3">
                                <div class="stat">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user align-middle me-1"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xxl-3 d-flex">
                <div class="card flex-fill">
                    <div class="card-body py-4">
                        <div class="d-flex align-items-start">
                            <div class="flex-grow-1">
                                <h3 class="mb-2"><!--{{data?.mtTotalTransfert | number:'1.0-3'}} FCFA--></h3>
                                <p class="mb-2">Total des transferts</p>
                                <div class="mb-0">
                                    <span class="badge badge-soft-danger me-2"> -4.25% </span>
                                    <span class="text-muted">Depuis la semaine dernière</span>
                                </div>
                            </div>
                            <div class="d-inline-block ms-3">
                                <div class="stat">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign align-middle text-info"><line x1="12" y1="1" x2="12" y2="23"></line><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path></svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xxl-3 d-flex">
                <div class="card flex-fill">
                    <div class="card-body py-4">
                        <div class="d-flex align-items-start">
                            <div class="flex-grow-1">
                                <h3 class="mb-2"><!--{{data?.mtTotalpaiement | number:'1.0-3'}} FCFA --></h3>
                                <p class="mb-2">Total des paiements</p>
                                <div class="mb-0">
                                    <span class="badge badge-soft-success me-2"> +8.65% </span>
                                    <span class="text-muted">Depuis la semaine dernière</span>
                                </div>
                            </div>
                            <div class="d-inline-block ms-3">
                                <div class="stat">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign align-middle text-info"><line x1="12" y1="1" x2="12" y2="23"></line><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path></svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-12 col-lg-6 d-flex mt-3">
                <div class="card flex-fill">
                    
                    <div id="datatables-dashboard-projects_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                        <div #chartContainer style="width: 100%; height: 400px;"></div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6 d-flex mt-3">
                <div class="card flex-fill">
                    
                    <div id="datatables-dashboard-projects_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                        <div #chartContainer2 style="width: 100%; height: 400px;"></div>
                    </div>
                </div>
            </div>

        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title h5" id="exampleModalLabel">Recherche</h1>
                  <button type="button" class="btn-close" #closebutton data-bs-dismiss="modal"><span class="visually-hidden">Close</span></button>
                </div>
                <hr style="color:#ccc">
                <div class="modal-body">
                    <form [formGroup]="formValue">
                    <div class="mb-3">
                      <label for="recipient-name" class="col-form-label">Date Début:</label>
                      <input type="date" formControlName="startDate" class="form-control" id="startDate">
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Date Fin:</label>
                        <input type="date" formControlName="endDate" class="form-control" id="endDate">
                    </div>
                    <div class="mb-3">
                        <label for="role" id="roleLabel" class="form-label">Status</label>
                        <select formControlName="state" class="form-select" required="">
                          <option selected="" value="" aria-hidden="true">Selectionner un status</option>
                          <option value="Done">Done</option>
                          <option value="Failed">Failed</option>
                          <option value="InProgress">InProgress</option>
                        </select>
                      </div>

                      
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" (click)="Recherche()" class="btn btn-primary">Rechercher</button>
                </div>
              </div>
            </div>
        </div>

    </div>
</main>
