body .content{
    background-color: red;
  }

.badge-soft-success {
    background-color: rgba(75,191,115,.175);
    color: color-yiq(rgba(75,191,115,.175));
    color: #4bbf73;
}
.badge-soft-danger {
    background-color: rgba(217,83,79,.175);
    color: color-yiq(rgba(217,83,79,.175));
    color: #d9534f;
}
.card {
    background-clip: padding-box;
    box-shadow: 0 2px 6px 0 rgba(67,89,113,.12);
  }
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid #d9dee3;
    border-radius: 0.5rem;
  }
  
