<main class="bd-content order-1">
    <div class="bg-white title-bar">
      <div class="container-xxl d-block">
        <div class="row">
          <div class="col-sm-12 col-lg-10 offset-lg-3 mt-3">
            <h3 id="quick-start" *ngIf="dataSource.paie_reference">Détail du paiement: {{dataSource.paie_reference}}</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="container-xxl pt-4">
      <div class="row">
        <div class="col-sm-12 col-lg-5 offset-lg-3">
          <form class="needs-validation mb-5" [formGroup]="detailPaiementForm">
            <div class="row">
              <div class="col-12">

                <div class="mb-3">
                    <label for="paie_reference" id="paie_reference" class="form-label is-required">paie_reference</label>
                    <input type="text" formControlName="paie_reference" class="form-control" required="">
                  </div>

                <div class="mb-3">
                  <label for="paie_code" id="paie_code" class="form-label is-required">paie_code</label>
                  <input type="text" formControlName="paie_code" class="form-control" required="">
                </div>

                <div class="mb-3">
                  <label for="paie_receiver" id="paie_receiver" class="form-label is-required">paie_receiver</label>
                  <input type="text" formControlName="paie_receiver" class="form-control" required="">
                </div>
                
                <div class="mb-3">
                  <label for="paie_amount" id="paie_amount" class="form-label is-required">paie_amount</label>
                  <input type="text" formControlName="paie_amount" class="form-control" required="">
                </div>

                <div class="mb-3">
                    <label for="paie_taxamount" id="paie_taxamount" class="form-label is-required">paie_taxamount</label>
                    <input type="text" formControlName="paie_taxamount" class="form-control" required="">
                </div>

                <div class="mb-3">
                    <label for="paie_totalamount" id="paie_totalamount" class="form-label is-required">paie_totalamount</label>
                    <input type="text" formControlName="paie_totalamount" class="form-control" required="">
                </div>

                <div class="mb-3">
                    <label for="paie_status" id="paie_status" class="form-label is-required">paie_status</label>
                    <input type="text" formControlName="paie_status" class="form-control" required="">
                </div>

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>